.welcome {
  text-align: "center";
  font-size: 35px;
  background-color: rgba(110, 29, 29, 0.11);
}

.headerContainer{
	display: inline-flex;
	flex-direction: row;
  	flex-wrap: nowrap;
  	justify-content: flex-start;
  	align-items: center;
}